
.row .col.s12 {
  background-color: #5d6d7e;
  margin-top: -20px;
}
.card { 
  margin-top: 0%;
  background-color: #212f3c;
  cursor: pointer;
}
.card__title {
  font-family: $anton;
  color: lightcyan;
  font-size: 2em;
}

.card p {
  color: lightyellow;
  font-family: $anton;
  font-size: 1.5rem;
}
.contenedor-video {
  background-color:#283747; 
}
iframe {
  height: 300px;
  width: 500px;
}
.card:hover {
  background-color: #283747;
}




















// // /* Create two unequal columns that floats next to each other */
// // .column {
// //     float: left;
// //     padding: 10px;
// //     height: 300px; /* Should be removed. Only for demonstration */
// // }

// // .left {
// //   width: 25%;
// // }

// // .right {
// //   overflow:auto;
// //   width: 20%;
// //   background-color:#34495e;
// //   h2 {color: #ecf0f1; }
// // }

// // /* Clear floats after the columns */
// // .row:after {
// //     content: "";
// //     display: table;
// //     clear: both;
// // }