.video-detalle {
    background-color:  #17202a;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.video-detalle .details {
    border-width: 5px;
    border-style: solid;
    border-color:   #2c3e50;    
}
.video-detalle p {
    text-align: center;
    color: lightyellow;
    font-family: $dosis;
}